.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #61dafb 0%, #21a1f1 100%);
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px;
  padding-top: 80px; /* Adjust this value if necessary */
  font-family: 'Poppins', sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #ffffff;
  text-transform: uppercase;
}

.header p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.9;
}

.content {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.overview, .task-management, .notifications {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.overview h2, .task-management h2, .notifications h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.action-button {
  background-color: #ff7e5f;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.action-button:hover {
  background-color: #feb47b;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.action-button:active {
  transform: translateY(1px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Add some subtle animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header h1, .header p, .overview, .task-management, .notifications, .action-button {
  animation: fadeIn 1s ease-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 0.9rem;
  }

  .overview h2, .task-management h2, .notifications h2 {
    font-size: 1rem;
  }

  .action-button {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .header p {
    font-size: 0.8rem;
  }

  .overview h2, .task-management h2, .notifications h2 {
    font-size: 0.9rem;
  }

  .action-button {
    padding: 6px 12px;
    font-size: 0.7rem;
  }
}
